<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <title>Rav Bay</title>
    <base href="/" />
    <meta content='Rav Bay' property='og:title'>
    <meta content='Rav Bay' property='og:site_name'>
    <meta content='personal' property='og:type'>
    <meta content='Rav Bay' property='twitter:title'>
    <meta content='Rav Bay' name='author'>
    <meta content='https://www.facebook.com/rav.bay' property='article:author'>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="true" name="HandheldFriendly" />
    <meta content="Rav Bay - Resume and Portfolio" name="description" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type" />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    <%= stylesheet_link_tag    "app" %>
    <%= javascript_include_tag "app" %>
  </head>

  <body ng-app="client">
    <div ui-view=""></div>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62173787-2', 'auto');
    ga('send', 'pageview');
  </script>

</html>
